<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'pets')}">
<head>
    <meta charset="UTF-8">
    <title>Pets List</title>
</head>
<body>
    <h2 th:text="'Pet List'">Pets List</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Pet type</th>
            <th>Pet name</th>
            <th>Birth date</th>
            <th>Owner's Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pet : ${pets}">
            <td th:text="${pet.getId()}"></td>
            <td th:text="${pet.getPetType().getName()}"></td>
            <td th:text="${pet.getName()}"></td>
            <td th:text="${pet.getBirthDate()}"></td>
            <td th:text="${pet.getOwner().getFirstName() + ' ' + pet.getOwner().getLastName()}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>